:root {
    --bg-color: #1d386b;
    --text-light: #f4f4f4;
    --text-med: #b7c9e8;
    --text-dark: #1e2432;
    --red: #eb0e0e;
    --green: #54d64f;
    --darkred: #c3112d;
    --yellow: #f7ca05;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-light);
    display: block;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

h1 {
    color: var(--yellow);
    font-size: 4rem;
    text-shadow: 0px 1px 0px #c6cf21;
    text-transform: capitalize;
}

h2 {
    color: var(--text-med);
    font-size: 2rem;
    text-transform: capitalize;
}

h3 {
    color: var(--text-med);
    font-size: 1.5rem;
    text-transform: capitalize;
}

p {
    font-size: 1rem;
}

button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-transform: uppercase;
}

button:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: 4px;
    background: none;
    outline: none;
    color: var(--text-med);
    font-size: 1rem;
}

.container {
    display: inline-block;
    text-align: center;
    width: 80%;
}

.search-container {
    padding: 10px;
    display: block;
}

.alert {
    color: var(--text-light);
    text-transform: capitalize;
    visibility: hidden;
    padding: 5px;
    border-radius: 5px;
}

.alert-fail {
    background-color: var(--red);
    visibility: visible;
}

.alert-success {
    background-color: var(--green);
    visibility: visible;
}

.lyrics {
    color: var(--text-light);
    padding-bottom: 2.5rem;
    max-height: 30rem;
    overflow-y: scroll;
    scrollbar-color: slategrey var(--bg-color);
}

.lyrics::-webkit-scrollbar {
    width: 1em;
    opacity: 50%;
}

.lyrics::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background:  var(--bg-color);
}

.lyrics::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
  width: 0px;
}

